            body {
              background-color: linen;
            }           
            h1 {
              color: maroon; 
              text-align:center;
            } 
            p {
              text-align:center;
            }